/Cryptocurrency Value Predictor/Library/CryptocurrencyValuePredictorLibrary/nbproject/private/
/Cryptocurrency Value Predictor/Library/CryptocurrencyValuePredictorLibrary/build/
/Cryptocurrency Value Predictor/GUI/CryptocurrencyValuePredictor/nbproject/private/
/Cryptocurrency Value Predictor/GUI/CryptocurrencyValuePredictor/build/
/Cryptocurrency Value Predictor/GUI/CryptocurrencyValuePredictor/dist/
/Cryptocurrency Value Predictor/Library/CryptocurrencyValuePredictorLibrary/dist/